<% include ./partials/header %>
<div class="container">
<img width="100" src="<%= currentUser.photo %>" 

<div>
<h3> <%= currentUser.description %> </h3>
</div>
</div>



<% include ./partials/footer %>