<% include ./partials/header %>

<h3 class="c">Login!</h3>

<form  action="/login" method="POST">
    <div class="form-group">
    <input class="form-control"  type="text" name="username" placeholder="username" >
    </div>
     <div class="form-group">
    <input class="form-control"  type="password" name="password" placeholder="password">
    </div>
     <div class="form-group">
    <button class="btn btn-primary form-control"><i class="fa fa-user"></i> Login!</button> 
     </div>
     </form>
     <div class="ui horizontal divider">
    Or
  </div>
     <div class="form-group">
    <a href="/register" class="btn btn-success form-control"><i class="fa fa-sign-in"></i>
 Sign up!</a> 
   </div>
    




 

<% include ./partials/footer %>