<%include ./partials/header %>
 
 <div class="ui main text container segment">
     <div class="ui huge header">New Comment </div>
     <form class="ui form" action="/blogs/<%= blog._id%>/comments" method="POST">
          <div class="field">
             <label>Comment</lable>
             <textarea name="comment[text]"></textarea>
        </div>
       
             <input class="ui violet big basic button" type="submit">
         </form>
         <a href="/blogs">Go Back</a>
</div>

<%include ./partials/footer %>