<%include ./partials/header %>
<style>
.jumbotron.cover {
  background: url("<%= currentUser.cover %>");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  
 
}
</style>
<form class="form-inline" action="/setting" method="post">
    <%= message %>
    <div class="jumbotron cover">
        
    <div class="container">
             <% if(!currentUser.photo) { %>
            <i  class="fa fa-user fa-5x"></i>
     <% } else  { %>
            <img width="100"  src="<%= currentUser.photo %>">
     <% } %>
     
    <div class="dropdown">
        
            <button class="btn btn-default dropdown-toggle"
                type="button" id="dropdownMenu1" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="true"> 
                <i class="fa fa-camera-retro"> </i> change
            </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/uploads">My photos</a></li>
            <li>facebooks</li>
            <li><a href="https://www.twitter.com/<%= currentUser.twitterAccount %>">twitter</a></li>
        </ul>
    </div>  
    <a href="/upload">Change cover</a>
   
        
    </div>
    </div>
 </form>
     


<%include ./partials/footer %>